
body{
    font-family: arial;
    font-size: 14px;
    line-height: 18px;
    background: #ECE9D8;
}
.template{
    width: 960px;
    margin: 0 auto;
}
.clear{
    overflow: hidden;
}
.template{}
.headsection{ height: 120px;background: #404040; }
.title{
    float: left;
    width: 632px;;
    margin-top: 20px;
    margin left: 40px;
 }
.title h2{
    color: #D86225;
    margin-left: 38px;
}
.mainmenu{
   
    float: right;
    margin-top: 36px;
    color: yellow;
}
.mainmenu a{
    text-decoration: none;
    color: white;
}
.mainmenu a:hover{
    color:green;
}
.maincontent{
    background: white;
}
.maintop {
    margin: 25px 50px;
    border-bottom: 2px solid black dotted;
    border-bottom: 2px dotted;
    padding-bottom: 9px;
}
.maintop h2{
    font-size: 32px;
    color: black;
}
.maintop h3{
    font-size: 21px;
    color: gray;
}
.content{
    margin: 0 25px;
}
.description{
        text-align: center;
}
.description p{
    color: gray;
    font-size: 23px;
    line-height: 31px;
    font-weight: normal;
}
.midcontent{
    background: orange;
}
.midleft{
   float: left;
    width: 634px;
}
.midleft h2{
    font-size: 33px;
    margin-left: 88px;
    border-bottom: 2px dotted;
    padding-bottom: 12px;
    width: 213px;
    line-height: 33px;
    color: white;
}
.midleft h3{
    color: white;
    text-align: center;
    margin-left: 16px;
    margin-right: 16px;
}
.midimage{
   float: right;
    margin-right: 17px;
}
.midimage img{
    width: 222px;
    height: 188px;
}
.post{
    border-top: 2px dotted;
    margin-top: 23px;
    border-bottom: 2px dotted;
    padding-bottom: 24px;
    margin: 24px 57px;
}
.samearticle{
    background: #F06649;
    width: 201px;
    float: left;
    margin-left: 68px;
    margin-top: 20px;
}
.samearticle h2{
    text-align: center;
    color: white;
    border-bottom: 2px dotted;
    padding-bottom: 7px;
    width: 139px;
    margin-left: 29px;
}
.samearticle p{
    color: black;
    line-height: 23px;
    text-align: center;
}
.postlink{
    text-align: center;
    padding-bottom: 4px;
    background: red;
    margin: 2px 42px;
    margin-bottom: 12px;
    font-size: 30px;
}
.postlink a{
    text-decoration: none;
    font-size: 19px;
    color: white;
}
.postlink a:hover{
    color: orange;
}
.new{
 margin: -11px 314px;
}
.fotersection{
    padding: 9px;
    background: gray;
}
.fotersection p{
    text-decoration: none;
    color: white;
}
.fotersection a{   
    text-decoration: none;
    color: white;
}
.fotersection a:hover{
    color: green;
}
